<h2>Gym Classes</h2>
<div class="form_container">
<table>
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Class Description</th>
      <th>Class Time</th>
      <th>Instructor</th>
      <th>Spaces</th>
    </tr>
  </thead>

  <tbody>
    <tr>
<td><%= @gym_class.class_name%></td>
<td><%= @gym_class.class_description%></td>
<td><%= @gym_class.class_time%></td>
<td><%= @gym_class.class_instructor%></td>
<td><%= @gym_class.class_spaces%></td>

</table>

<form action="/gym_classes/<%= @gym_class.id %>/edit" method="get">
  <input type="submit" id ='Edit-button' class='showbutton' value="Edit Class">
</form>

<form action="/gym_classes/<%= @gym_class.id %>/delete" method="post">
  <input type="submit" id ='Delete-button' class='showbutton' value="Delete Class">
</form>
</div>
