<h2>Class Bookings</h2>

<p>Member: <%= @booking.member.first_name %> <%= @booking.member.last_name %></p>
<p>Gym Class: <%= @booking.gym_class.class_name %></p>
<p>Time: <%= @booking.gym_class.class_time %></p>
<p>Instructor: <%= @booking.gym_class.class_instructor %></p>
<br>

<form action="/bookings/<%= @booking.id %>/delete" method="post">
  <input type="submit" id ='DeleteBooking-button' class='showbutton'value="Delete Booking">
</form>
