<h2>New Booking</h2>

<div class="form_container">
<form action="/bookings" method="post">

  <label for="member">Select Gym Member</label>

  <select id="member" name="member_id">
    <% @member.each do |member| %>
    <option value="<%= member.id %>"> <%= member.first_name %> <%= member.last_name %></option>
    <% end %>
  </select>
<br>
  <label for="gym-class">Select Gym Class</label>

  <select id="gym-class" name="gym_class_id">
    <% @gym_class.each do |gym_class| %>
    <option value="<%= gym_class.id %>"> <%= gym_class.class_name %> <%= gym_class.class_time %></option>
    <% end %>

  </select>
  <input type="submit" id ='NewBooking-button' class='showbutton'value="Create New Booking">
</form>
</div>
